  body{
            background-color: black;
            margin: 0px;
        }
        form{
            color: white;
            border: 1px solid green;
            border-radius: 35px;
            height: 500px;
            width: 400px;
            margin: 2% 15%;
        }
        h1{
            color: green;
            font-size: xx-large;
            margin-left: 100px;
        }
        
        input,label{
            width: 250px;
            height: 30px;
            border-radius: 30px;
            margin-left: 60px;
            margin-top: 5px;
        }
        textarea{
            margin-left: 60px;
            margin-top:10px ;
            width: 250px;
            height: 60px;

        }
       
        button{
            margin-left: 40%;
            margin-top: 30px;
            background-color: black;
            color: green;
            border: 1px solid green;
            border-radius: 30px;
            
        }